# Basic Operations

In [1]:
1+2

[1] 3

In [2]:
6*4

[1] 24

In [3]:
5-3

[1] 2

In [4]:
1/2

[1] 0.5

In [5]:
2^3

[1] 8

In [6]:
87 %% 2

[1] 1

In [7]:
11 %/% 2

[1] 5

In [8]:
(100 * 2) + (50 / 2)

[1] 225

#### Greater Than

In [9]:
5 > 6

[1] FALSE

In [10]:
6 > 5

[1] TRUE

In [11]:
v1 <- c(1,2,3)
v2 <- c(10,20,30)

In [12]:
v1 < v2

[1] TRUE TRUE TRUE

#### Greater Than or Equal to

In [13]:
6 >= 6

[1] TRUE

In [14]:
6 >= 5

[1] TRUE

In [15]:
6 >= 7

[1] FALSE

#### Less Than and Less than or Equal To

In [16]:
3 < 2

[1] FALSE

In [17]:
2 <= 2

[1] TRUE

##### Be very careful with comparison operators and negative numbers! Use spacing to keep things clear. An example of a dangerous situation:

In [18]:
var <- 1

In [19]:
var

[1] 1

In [20]:
# Comparing var less than negative 2
var < -2

[1] FALSE

In [21]:
# Accidentally reassigning var!
var <- 2

In [22]:
var

[1] 2

##### Keep syntax highlighting in mind to help you avoid this mistake!

#### Not Equal

In [23]:
5 != 2

[1] TRUE

In [24]:
5 != 5

[1] FALSE

#### Equal

In [25]:
5 == 5

[1] TRUE

In [26]:
2 == 3

[1] FALSE

### Vector Comparisons

We can apply a comparison of a single number to an entire vector, for example:

In [27]:
v <- c(1,2,3,4,5)

In [28]:
v < 2

[1]  TRUE FALSE FALSE FALSE FALSE

In [29]:
v == 3

[1] FALSE FALSE  TRUE FALSE FALSE

In [30]:
v[v>2]

[1] 3 4 5

In [31]:
# Need help with vectors, try help()
help(vector)

In [32]:
?vector

In [33]:
# This will pop up a help window  (need to pass a character string)
help.search('numeric')

starting httpd help server ...
 done

In [34]:
# Can also use ?? for a search
??vector

# Printing

In [35]:
print("hello")

[1] "hello"

In [36]:
x <- 10
print(x)

[1] 10

In [37]:
x <- mtcars
print(x)

                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

In [38]:
help(mtcars)

## Formatting

In [39]:
print(paste('hello','world'))
help(paste)

[1] "hello world"

In [40]:
print(paste('hello','world',sep='-|-'))

[1] "hello-|-world"

In [41]:
paste0('hello','world')

[1] "helloworld"

In [42]:
sprintf("%s is %f feet tall\n", "Sven", 7.1)

[1] "Sven is 7.100000 feet tall\n"

In [43]:
# THIS WILL PRODUCE AN ERROR BECAUSE 7.1 is a float, not an integer
sprintf("%s is %i feet tall\n", "Swen", 7)

[1] "Swen is 7 feet tall\n"

## R Data Types

### Numerics

In [44]:
n <- 2.2

### Integers

In [45]:
i <- 5

### Logical

In [46]:
t <- TRUE
f <- FALSE

In [47]:
t

[1] TRUE

In [48]:
f

[1] FALSE

### Characters

In [49]:
char <- "Hello World!"

In [50]:
char

[1] "Hello World!"

In [51]:
# Also single quotes
c <- 'Single Quote Char'

In [52]:
c

[1] "Single Quote Char"

## Checking Data Type Classes

In [53]:
class(t)

[1] "logical"

In [54]:
class(f)

[1] "logical"

In [55]:
class(char)

[1] "character"

In [56]:
class(c)

[1] "character"

In [57]:
class(n)

[1] "numeric"

In [58]:
class(i)

[1] "numeric"

## Variables

### Use hashtags for comments

In [59]:
#naming a variable

variable.name <- 100 #most common way to name a variable
variableName <- 200
variable_name <- 300 #least common way to name a variable

In [60]:
# Let's see the variable!
variable.name

[1] 100

## Working with variables

In [61]:
bank.account <- 100

In [62]:
deposit <- 10

In [63]:
bank.account <- bank.account + deposit

In [64]:
bank.account

[1] 110